<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--Android SDK路径-->
    <add key="android_sdk_path" value=".\Tools" />
    <!--测试结果是否以日期分组-->
    <add key="is_group" value="false" />
    <!--测试对象包名-->
    <add key="package_name" value="com.uuabc.samakenglish" />
    <!--随机事件数量-->
    <add key="event_number" value="1000" />
    <!--事件间隔时间-->
    <add key="delay_time" value="100" />
    <!--测试模式 0简易模式 1高级模式-->
    <add key="test_mode" value="1" />
    <!--触摸事件概率(%)-->
    <add key="touch" value="40" />
    <!--滑动事件概率(%)-->
    <add key="motin" value="10" />
    <!--轨迹球事件概率(%)-->
    <add key="trackball" value="0" />
    <!--系统按键事件概率(%)-->
    <add key="syskeys" value="0" />
    <!--启动Activity事件概率(%)-->
    <add key="appswitch" value="0" />
    <!--导航事件概率(%)-->
    <add key="nav" value="0" />
    <!--主要导航事件概率(%)-->
    <add key="majornav" value="0" />
    <!--任意事件概率(%)-->
    <add key="anyevent" value="0" />
    <!--种子值（相同种子值会重现相同的事件步骤）-->
    <add key="seed" value="200" />
    <!--忽略安全异常 true|false-->
    <add key="ignore_security_exceptions" value="true" />
    <!--忽略超时 true|false-->
    <add key="ignore_timeouts" value="true" />
    <!--忽略崩溃 true|false-->
    <add key="ignore_crashes" value="true" />
    <!--日志等级 1|2|3-->
    <add key="log_level" value="3" />
  </appSettings>
</configuration>